#details {
  text-align: center;
  width: 100%;
}
#details.jumbotron {
  background-color: #FFF;
  box-shadow: 0  0 5px #CCC
}
#details strong {
  display: block;
  margin: 10px;
  text-transform: capitalize;
}
#details strong.email {
  text-transform: none;
}

#details img {
  border: 4px solid #673AB7;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

ul li {
  color: #7e38fb;
  float: left;
  font-size: 1.5em;
  padding: 20px;
}

ul li.active {
  color: #673ab7;
}
